<!-- Preloader -->
<!-- <div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
    </div>
  </div>
</div> -->
<!--End off Preloader -->


<div class="culmn">
  <!--Home page style-->


  <nav class="navbar navbar-default bootsnav navbar-fixed no-background white">

    <!-- Start Top Search -->
    <div class="top-search">
      <div class="container">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
      </div>
    </div>
    <!-- End Top Search -->


    <div class="container">
      <!-- <div class="attr-nav">
        <ul>
          <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
        </ul>
      </div> -->

      <!-- Start Header Navigation -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#brand">
          <img src="assets/logo/5.png" class="logo" alt="">
          <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
        </a>

      </div>
      <!-- End Header Navigation -->

      <!-- navbar menu -->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
          <li><a href="#features">About</a></li>
          <li><a href="#service">Service</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#test">Testimonial</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>

  </nav>

  <!--Home Sections-->

  <section id="home" class="home bg-black fix">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="main_home text-center">
          <div class="col-md-12">
            <div class="hello">
              <div class="slid_item">
                <div class="home_text ">
                  <h1 class="text-yellow">Hello , I am DucNT</h1>
                  <h1 class="text-yellow">I am a Developer</h1>
                  
                </div>
              </div><!-- End off slid item -->

            </div>
          </div>

        </div>


        <a class="mouse-scroll" href="#about">
          <span class="mouse">
            <span class="mouse-movement"></span>
          </span>
          <span class="mouse-message fadeIn">Explore</span> <br />
          <!--<i class="fa fa-angle-down m-top-10 fadeIn mouse-message"></i>-->
        </a>

      </div>
      <!--End off row-->
    </div>
    <!--End off container -->
  </section>
  <!--End off Home Sections-->
</div>